<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header>
        <div class="header-container">
            <div class="logo">Gallery</div>
            <nav>
                <ul>
                    <li><a href="/templates/upload.html">Загрузка картинок</a></li>
                    <li><a href="/templates/login.html">Войти</a></li>
                    <li><a href="/templates/registration.html">Регистрация</a></li>
                </ul>
            </nav>
        </div>
    </header>  

    <main>
        <div class="search">
            <input type="text" placeholder="Поиск по названию...">
            <button>Найти</button>
        </div>

        <div class="gallery">
            <div class="card">
                <img src="https://i.pinimg.com/736x/18/e2/5a/18e25a764a2683a25d4e54a3ccb369a9.jpg" alt="Картинка номер 1">
                <div class="card-body">
                    <div class="card-title">Название картинки</div>
                    <div class="card-user">Username</div>
                </div>
            </div>

            <div class="card">
                <img src="https://i.pinimg.com/736x/3f/b1/4a/3fb14a7e6012d6039c1b646e9d07513f.jpg" alt="Картинка номер 2">
                <div class="card-body">
                    <div class="card-title">Название картинки</div>
                    <div class="card-user">Username</div>
                </div>
            </div>

            <div class="card">
                <img src="https://i.pinimg.com/736x/1b/94/94/1b9494e576364199e61981fd112d4374.jpg" alt="Картинка номер 3">
                <div class="card-body">
                    <div class="card-title">Название картинки</div>
                    <div class="card-user">Username</div>
                </div>
            </div>

            <div class="card">
                <img src="https://i.pinimg.com/736x/fe/cf/cb/fecfcbe2e9afca2032c1384526d52986.jpg" alt="Картинка номер 4">
                <div class="card-body">
                    <div class="card-title">Название картинки</div>
                    <div class="card-user">Username</div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>© 2026 Gallery</p>
    </footer>
</body>
</html>